.App{
    text-align: center;
}
.navbar_links{
   
   display: flex;
   width:50%;
   justify-content:space-between;
   align-items:center;
   margin: auto;
}
.product_outlet{
  display: flex;
  justify-content: space-around;
  
}
.product_outlet div{
   width: 40%;
   margin: 0 auto;
}